# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# Node modules
node_modules/

# Build / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
